---
import VideoSourcePlayer from "@components/VideoSourcePlayer";
import LayoutContent from "./LayoutContent.astro";
import FormattedDate from "@components/FormattedDate";
import { getPageTitle } from "@utils/getPageTitle";

interface Props {
  data: Record<string, any>;
}

const { data } = Astro.props;

const { title, description, date, cover, links } = data;
---

<LayoutContent pageTitle={getPageTitle(title)} pageDescription={description}>
  <header class="bg h-[120px] mb-4 flex justify-between">
    <div class="px-4 py-4">
      <h1>{title}</h1>
      <div class="text-sm leading-6 flex">
        <FormattedDate client:load date={date} format="YYYY-MM-DD HH:mm:ss" />
        <div class="video-links text-sm leading-6">
          {
            links && (
              <span class="video-links-divider px-2 text-gray-500">|</span>
            )
          }
          {
            links.av && (
              <a href={`https://bilibili.com/av${links.av}`}>av{links.av}</a>
            )
          }
          {
            links.bv && (
              <a href={`https://bilibili.com/${links.bv}`}>{links.bv}</a>
            )
          }
          {
            links.ac && (
              <a href={`https://acfun.cn/v/ac${links.ac}`}>ac{links.ac}</a>
            )
          }
          {
            links.mv && (
              <a href={`https://mfuns.net/mv${links.mv}`}>mv{links.mv}</a>
            )
          }
        </div>
      </div>
    </div>
    <img
      src={cover || ""}
      width={"auto"}
      referrerpolicy="no-referrer"
      alt={title}
      class="bg-gray-400 aspect-video"
    />
  </header>
  <div class="bg mb-2">
    <VideoSourcePlayer data={data as any} client:load />
  </div>
  <main class="content bg min-h-[200px] px-4 py-4">
    <slot />
  </main>
</LayoutContent>

<style is:global lang="scss">
  .video-links > a:nth-of-type(n + 2) {
    &::before {
      content: " · ";
    }
  }
</style>
